/* VARIABLES ********************************************* */
:root {
  --white: #FFFFFF;
  --light-white: rgba(255, 255, 255, 0.3);
  --black: #000000;
  --primary-color: #212121;
  --secondary-color: #0B6030;
  --primary-font: sans-serif;
  --secondary-font: cursive, sans-serif;
  --shadow: 5px 5px 7px#000000;
  --radius: 5px;
}

/* TEXT ************************************************* */
label,
p,
button {
  font-size: 1.2em;
}

p {
  margin: 5px;
}

/* SHARED LAYOUTS **************************************** */
header,
section,
form[name="login"],
.user-info-section,
.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header,
.form-field,
.user-info-section {
  justify-content: space-between;
}

/* BODY ************************************************* */
body {
  background: rgb(54,100,228);
  background: linear-gradient(180deg, rgba(54,100,228,1) 10%, rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  color: var(--white);
  font-family: var(--primary-font);
  margin: 0px;
}

/* HEADER ****************************************** */
header {
  background: var(--primary-color);
  font-family: var(--secondary-font);
  color: var(--white);
  padding: 10px;
}

h1 {
  margin: 10px;
}

/* MAIN ******************************************* */
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

section {
  background: var(--light-white);
  min-width: 320px;
  padding: 10px;
  border-radius: var(--radius);
  filter: drop-shadow(0 0 0.5rem var(--black));
}

/* Trip Card ****************************** */
.trip-card {
  background: var(--secondary-color);
  color: var(--white);
  height: 375px;
  width: 300px;
  padding: 5px;
  border: 2px solid var(--black);
  border-radius: var(--radius);
  margin: 5px;
}

h3 {
  margin: 5px 0px 5px 15px;
}

img {
  width: 250px;
  height: 200px;
  margin: 5px 25px;
  border-radius: var(--radius);
}

.trip-card p {
  text-align: right;
  margin-right: 15px;
}

/* PLAN TRIP SECTION **************************** */
.plan-trip-section {
  grid-column: span 2;
  flex-direction: column;
}

h2 {
  align-self: flex-start;
  margin-left: 20px;
}

.request-trip-btn {
  align-self: flex-end;
}

/* USER'S TRIPS ***************************************** */
.user-trips-section {
  max-height: 500px;
  overflow-y: scroll;
}

.user-trips-section h2 {
  flex-grow: 2;
}
.user-trips-display {
  background: var(--light-white);
  padding: 5px;
}

.yearly-expense-section {
  grid-column: 3;
}

/* INPUTS & LABELS ************************************* */
.form-field,
button {
  background: var(--secondary-color);
  color: var(--white);
  box-shadow: var(--shadow);
  margin: 15px;
}

button,
.form-field,
input,
select {
  font-family: var(--primary-font);
  padding: 5px;
  border: 2px solid var(--black);
  border-radius: var(--radius);;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

button:enabled:hover,
select:hover,
input:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

button:enabled:hover,
select {
  cursor: pointer;
}

button:disabled {
  background: var(--light-white);
  color: lightgrey;
  cursor: not-allowed;
}

input:invalid {
  border: 3px solid red;
}

input:valid {
  border: 3px solid gold;
}

label {
  margin-right: 15px;
}

/* GENERAL ********************************************** */
.hidden {
  display: none !important;
}

/* EXTRA SMALL SCREEN *********************************** */
@media screen and (max-width: 1000px) {
  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  label,
  p,
  button {
    font-size: 0.9em;
  }
}